{% extends "base.html" %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Welcome to my site!</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Тут когда-то будет информация обо мне и о моих проектах
    </p>

  <div class="text-center">

    <div class="text-center">
      <h2>Тут я расскажу о себе</h2>
      <p>Но не сегодня</p>
    </div>

    <div class="text-center">
      <h2>Тут я расскажу о проектах</h2>
      <p>Но у меня их пока нет :-)</p>
    </div>


  </div>

{% endblock %}